<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" targetFramework="net47" version="12.1.2"/>
  <package id="DynamicExpresso.Core" targetFramework="net47" version="2.3.1"/>
  <package id="FParsec" targetFramework="net47" version="1.0.3"/>
  <package id="FSharp.Core" targetFramework="net47" version="4.7.0"/>
  <package id="MathNet.Numerics" targetFramework="net47" version="4.8.1"/>
  <package id="MathNet.Numerics.FSharp" targetFramework="net47" version="4.8.1"/>
  <package id="MathNet.Symbolics" targetFramework="net47" version="0.20.0"/>
  <package id="morelinq" targetFramework="net47" version="3.2.0"/>
  <package id="NDesk.Options" targetFramework="net47" version="0.2.1"/>
  <package id="Newtonsoft.Json" targetFramework="net47" version="13.0.1"/>
  <package id="Nito.AsyncEx" targetFramework="net47" version="5.0.0"/>
  <package id="Nito.AsyncEx.Context" targetFramework="net47" version="5.0.0"/>
  <package id="Nito.AsyncEx.Coordination" targetFramework="net47" version="5.0.0"/>
  <package id="Nito.AsyncEx.Interop.WaitHandles" targetFramework="net47" version="5.0.0"/>
  <package id="Nito.AsyncEx.Oop" targetFramework="net47" version="5.0.0"/>
  <package id="Nito.AsyncEx.Tasks" targetFramework="net47" version="5.0.0"/>
  <package id="Nito.Cancellation" targetFramework="net47" version="1.0.5"/>
  <package id="Superpower" targetFramework="net47" version="2.3.0"/>
  <package id="System.Buffers" targetFramework="net47" version="4.5.0"/>
  <package id="System.Dynamic.Runtime" targetFramework="net47" version="4.3.0"/>
  <package id="System.Globalization.Calendars" targetFramework="net471" version="4.3.0"/>
  <package id="System.Globalization.Extensions" targetFramework="net471" version="4.3.0"/>
  <package id="System.Memory" targetFramework="net47" version="4.5.3"/>
  <package id="System.Numerics.Vectors" targetFramework="net47" version="4.5.0"/>
  <package id="System.ObjectModel" targetFramework="net47" version="4.3.0"/>
  <package id="System.Runtime.CompilerServices.Unsafe" targetFramework="net47" version="4.5.2"/>
  <package id="System.Threading.Tasks.Extensions" targetFramework="net47" version="4.5.3"/>
  <package id="System.ValueTuple" targetFramework="net47" version="4.5.0"/>
  <package id="System.Collections.Immutable" targetFramework="net47" version="1.5.0"/>
  <package id="Microsoft.Z3" targetFramework="net47" version="4.4.1"/>
</packages>
